.hidden
*.tmp

# Nix outputs
result

##Rocq
*.vo
*.vok
*.vos
*.glob
*.v.d
*~
CoqMakefile
RocqMakefile
RocqMakefile.plugin
CoqMakefile.conf
RocqMakefile.conf
RocqMakefile.plugin.conf
Makefile.coq
Makefile.rocq
Makefile.coq.conf
Makefile.rocq.conf
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.cmt
*.cmti
*.ml.d
*.mllib.d
*.ml4.d
*.mli.d
*.mlpack.d
*.native
*.o
*.aux
*.d
*.lia.cache
docs/
_opam/
.merlin
META.*
META
_config
_CoqProject
_PluginProject
!/common/_CoqProject

.coq-native/
.rocq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

## extraction output
*.rs
*.out


## Editors
### VisualStudioCode ###
.vscode/*
